h1, p {
  font-family: URW Gothic L;
  padding: 30px;
}

body {
  background-image: linear-gradient(-90deg, #e66465, #9198e5);
  margin-top: 20px;
}

.form-control {
  margin: 20px;
  font-family: URW Gothic L;
}

.btn-primary {
  margin-bottom: 20px;
  font-family: URW Gothic L;

}

.price {
  margin-top: 20px;
  font-family: URW Gothic L;
}
